body {
    max-width: 466px;
    margin: 0 auto;
    color: rgb(29, 65, 80);
    font-style: Garamond;
    padding: 6px;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

.lambsnav {
    margin: 0 auto;
    background-color: rgb(43, 102, 45);
    width: 300px;
    height: 56px;
    border-radius: 12px;
}

a {
    text-decoration: none;
    font-size: 24px;
    padding:  5px;
    margin: 4px;
    color: wheat;
    background-color: #4CAF50;
    border-radius: 16px;
}

.header, h1, h3, a, .lambsnav {
    text-align: center;
}

p, .header, h1, h3, .lambs {
    margin: 10px auto;
}

p {
    font-size: 19px;
}

h1 {
    font-size: 40px;
}

.lambsh1 {
    width: 340px;
}

.abouth1 {
    width: 185px;
}

.donateh1 {
    width: 185px;
}

h3 {
    font-size: 30px;
    width: 175px;
}

h1, h3 {
    background-color: rgb(63, 135, 166, 0.333); 
}

.lambs, .about, .donate {
    max-width: 95%; 
}

.children1, .children2 {
    max-width: 65%;
}

img, h1, h3 {
    border-radius: 10px;
}

.children1 {
    float: left;
    margin-right: 6px;
}

.children2 {
    float: right;
    margin-left: 6px;
}

.donate-button {
    background-color: #4CAF50; 
    border: 4px solid rgb(43, 102, 45);
    color: wheat;
    padding:  8px 34px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    border-radius: 8px;
}

input {
    text-align: center;
    border-radius: 8px;
    padding: 10px 1px;
    background-color: wheat;
}

.donate-button:active {
    background-color: #3e6e8e;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
    transition-duration: 0.8s;
}

.button-holder {
    margin: 5px;
}

@media all and (min-width: 480px) {
    
    body {
        max-width: 960px;
    }
    
    .lambsnav {
        margin: 0 auto;
        background-color: rgb(43, 102, 45);
        width: 500px;
        height: 67px;
        border-radius: 12px;
    }
    
    a {
        text-decoration: none;
        font-size: 36px;
        padding:  5px 5px 5px 15px;
        margin: 4px 12px;
        color: wheat;
        background-color: #4CAF50;
        border-radius: 16px;
    }
    
    .children1 {
        margin-right: 20px;
    }
    
    .children2 {
        margin-left: 20px;
    }
    
    .lambs, .about, .donate {
        max-width: 75%; 
    }
}    