body {
    max-width: 466px;
    margin: 0 auto;
    color: rgb(29, 65, 80);
    font-style: Garamond;
    padding: 6px;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

.wholepage {

}

.header, h1, h3 {
    text-align: center;
}

p, .header, h1, h3, .lambs {
    margin: 10px auto;
}

p {
    font-size: 19px;
}

h1 {
    font-size: 40px;
}

.lambsh1 {
    width: 340px;
}

.abouth1 {
    width: 185px;
}

.donateh1 {
    width: 185px;
}

h3 {
    font-size: 30px;
    width: 175px;
}

h1, h3 {
    background-color: rgb(63, 135, 166, 0.333); 

}

.lambs, .about, .donate {
    display: block;
    max-width: 95%; 
}


.children1, .children2 {
    max-width: 65%;
}

img, h1, h3 {
    border-radius: 10px;
}

.children1 {
    float: left;
    margin-right: 6px;
}

.children2 {
    float: right;
    margin-left: 6px;
}

/* page 3 */
.donate-button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 5px;
    width: 120px;
}

.donate-button:active {
    background-color: #3e6e8e;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
    transition-duration: 0.8s;
}

.button-holder {
    margin: 5px;
}

/* end page 3 */

@media all and (min-width: 480px) {
    
    .kids-left {
    
    }
    
    .kids-right {
    
    }
}
